<div class="container h-100">
  <div class="row align-items-center h-100 justify-content-center align-items-center">
    <div class="col-md-6 col-xs-12">
      <div class="card style-card">
        <div class="card-header header-tarjeta">
          <div class="col-md-12 text-center ">
            <img class="img-nav animate__animated animate__zoomIn" src="/assets/img/fonTrclear.png" alt="">
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <div class="row">
              <div class="col-md-6">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" id="firstName" aria-describedby="emailHelp"
                  formControlName="firstName" autocomplete="disabled" required>
                  <small class="text-danger form-text " *ngIf="formControls.firstName.errors && formControls.firstName.errors.required && (formControls.firstName.dirty || formControls.firstName.touched || formSubmitAttempt)">El nombre es obligatorio</small>
              </div>
              <div class="col-md-6">
                <label for="lastName">Apellido</label>
                <input type="text" autocomplete="disabled" class="form-control" id="lastName" aria-describedby="emailHelp"
                  formControlName="lastName" required>
                <small class="text-danger form-text " *ngIf="formControls.lastName.errors && formControls.lastName.errors.required && (formControls.lastName.dirty || formControls.lastName.touched || formSubmitAttempt)">El apellido es obligatorio</small>
              </div>
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input type="email" autocomplete="disabled" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email"
                required>
                <small class="text-danger form-text "  *ngIf="formControls.email.errors && formControls.email.errors.required && (formControls.email.dirty || formControls.email.touched || formSubmitAttempt)">El email es obligatorio</small>
                <small class="text-danger form-text "  *ngIf="formControls.email.errors && formControls.email.errors.email && (formControls.email.dirty || formControls.email.touched || formSubmitAttempt)">No parece un mail real</small>

            </div>
            <div class="row mb-2">
                    <div class="col-md-6">
                        <label for="Password">Contraseña</label>
                        <input type="password" class="form-control" id="Password" formControlName="password"
                        required>
                        <small class="text-danger form-text "  *ngIf="formControls.password.errors && formControls.password.errors.required && (formControls.password.dirty || formControls.password.touched || formSubmitAttempt)">La contraseña es obligatoria</small>
                        <small class="text-danger form-text "  *ngIf="formControls.password.errors && formControls.password.errors.minlength && (form.get('password').dirty || form.get('password').touched || formSubmitAttempt)">Las contraseña debe tener 6 caracteres mínimo</small>
                      </div>
                    <div class="col-md-6">
                        <label for="confirmPassword">Confirmar contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                        required>
                        <small class="text-danger form-text "  *ngIf="formControls.confirmPassword.errors && formControls.confirmPassword.errors.required && (formControls.confirmPassword.dirty || formControls.confirmPassword.touched || formSubmitAttempt)">Confirme la contraseña</small>
                        <small class="text-danger form-text "  *ngIf="form.errors && form.errors.notSame && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched || formSubmitAttempt)">Las contraseñas no coinciden</small>
                      </div>
            </div>
            <div class="col-md-12 text-center">
              <button type="submit" class=" agrandar-boton col-md-12 btn btn-outline-primary btn-lg">Registrarse</button>
            </div>
            <div class="col-md-12 mt-2 text-center">
              <small id="emailHelp" class="form-text text-muted">Si usted  esta registrado haga click <a
                  [routerLink]="['/auth/']">aquí</a></small>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
